html {
  margin-bottom: 0;
  padding-bottom: 0;
}

body {
  background: rgb(47, 47, 47);
  color: #e8e9eb;
  scroll-behavior: smooth;
  margin-bottom: 0;
  padding-bottom: 0;
}


::-webkit-input-placeholder { /* Chrome */
  color: #beb5b5 !important;
  opacity: 1 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #beb5b5 !important;
  opacity: 1 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #beb5b5 !important;
  opacity: 1 !important;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #beb5b5 !important;
  opacity: 1 !important;
}

::placeholder {
  color: #beb5b5 !important;
  opacity: 1 !important;
}


/* FAB */

#actionButton{
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  background-color: #0f2839;
}

#actionButton {

  display: inline-block;
  padding: 0;
  border: 0;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 800;
  text-transform: uppercase;
  outline: 0;
  font-size: 34px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 50%;
  width: 64px;
  height: 64px;
  color: #fff;
  opacity: 0;
  transition: 0.6s ease-in-out;

  & > span {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0px 16px;
  }

}

#actionButton:focus {
  //transform:scale(1.1);
  transform:rotate(360deg);
}
